<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Simple Cart - Welcome!{% endblock %}</title>
        <style>
            .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        </style>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <h1 style="text-align: center">Simple Cart - Cart: R {{ cart.total }} ({{ cart.totalItems }})</h1>
        </div>
        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
